<form action="/book/modifyBook/" method="post">

<p>username:<input name="username" type="text"></p>
<p>bookshop：<input name="bookshop" type="text"></p>
<p>oldbookName：<input name="oldbook" type="text"></p>
<p>newbookName: <input name="newbook" type="text"></p>
<p>bookauthor: <input name="bookauthor" type="text"></p>
<p>bookpublisher: <input name="bookpublisher" type="text"></p>
<p>BookComment：<textarea name="bookdetailer"></textarea></p>
<p><input type="submit"></p>
<p> {{ state }} </p>
</form>
